.about {
	background-color: var(--light-1);
	width: min(100vw, 930px);
	margin-left: auto;
	margin-right: auto;
}

.section-header {
	font-family: var(--header-font);
	font-weight: 600 !important;
	font-size: 2.25em;
	color: var(--dark);
	text-align: center;
	width: 100%;

	margin-bottom: 40px;
}
.section-header > span {
	display: inline-block;
	width: max-content;
	position: relative;
}
.section-header > span:before, .section-header > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid var(--dark);
    width: 100px;
    margin: 0 20px;
}
.section-header > span:before{
    right: 100%;
}
.section-header > span:after{
    left: 100%;
}


.about-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	font-family: var(--body-font);
	font-weight: 400;
	font-size: 1em;
}

.about-content p {
	margin-right: 50px;
	line-height: 170%;
	color: var(--dark);
}

.about-content img {
	width:  280px;
	height: 280px;
}
